body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.postPreview{
  border: black;
  border-style: solid;
  margin-bottom: 20px;
}
#listOfPosts{
  border: black;
  border-style: dotted;
  padding: 10px;
}

